.ipynb_checkpoints
classwork/.ipynb_checkpoints
projects/.ipynb_checkpoints
office_hours
.DS_Store
classwork/__pycache__/
scratch
fall2020_projects/twitter/.ipynb_checkpoints/twitter-checkpoint.ipynb
fall2020_projects/twitter/.ipynb_checkpoints/twitter-checkpoint.ipynb
